.gitignore
api_parent/.settings/org.eclipse.core.resources.prefs
api_parent/.settings/org.eclipse.m2e.core.prefs
api_parent/api_accounting/.settings/org.eclipse.core.resources.prefs
api_parent/api_accounting/.settings/org.eclipse.jdt.core.prefs
api_parent/api_accounting/.settings/org.eclipse.m2e.core.prefs
api_parent/api_addressbook/.settings/org.eclipse.core.resources.prefs
api_parent/api_addressbook/.settings/org.eclipse.jdt.core.prefs
api_parent/api_addressbook/.settings/org.eclipse.m2e.core.prefs
api_parent/api_addressbook/.settings/org.eclipse.wst.common.component
api_parent/api_addressbook/.settings/org.eclipse.wst.common.project.facet.core.xml
api_parent/api_addressbook/.settings/org.eclipse.wst.validation.prefs
api_parent/api_projecttracker/.settings/org.eclipse.jdt.core.prefs
api_parent/api_projecttracker/.settings/org.eclipse.m2e.core.prefs
api_parent/api_security/.settings/org.eclipse.core.resources.prefs
api_parent/api_security/.settings/org.eclipse.jdt.core.prefs
api_parent/api_security/.settings/org.eclipse.m2e.core.prefs
